spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cinema_tickets
    username: cinema_app
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "rjfoBSJbdo2DWCXzgWw42ug9VndCxurWHfAh71kq36o="
  expiration: 86400000

server:
  port: 8080